.center {
    background-color: white;
    width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #000010;
    border-radius: 10px;
    padding: 10px;
    margin-top: 2em;
    }